<nav class="navbar navbar-expand-lg bg-light justify-content-center">
  <div class="navbar-nav">
    <a class="nav-item" href="#">Home <span class="sr-only">(current)</span></a>
    <a class="nav-item" href="#">A propos</a>
    <a class="nav-item" href="#">test</a>
    <a class="nav-item" href="#">test 2</a>
  </div>
</nav>
